#equipage {
	width:120%;
}


#equipage .loic {
	float:right;	
	width:50%;
}
#equipage .loic  img{
	float:right;
	border-radius: 15px;
	margin-right: -11%;
}

#equipage ul{
    font-size:1.1em;

}

#equipage .clemence{
	float:left;
	width:50%;
	
}

#equipage .clemence img{
	float:left;
	border-radius: 10px;
	margin-right: 6%;
}

.budget_list li  {
	font-size:1.5em;
	font-weight:bold;
	list-style-type:initial;
}

.budget_list ol li  {
	font-size:1.1em;
	font-weight:normal;
	list-style-type:circle;
}