/*Iphone 5 width : 320px*/

@media screen and (max-width: 768px)
{
    #partenaire
    {
	margin-top: -6.5%;
	width: 100%;
	margin-left: 20%;
    }
	
	h2, .h2 {
	font-size: 15px;
	}
		.content p {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 12px;
	}


	#equipage .clemence {
	width: 77%;

	}

	#equipage .loic {
	width: 77%;
	float: none;
	}


}

@media screen and (max-width: 990px)
{
    #partenaire
    {
	margin-top:0%;
	width: 100%;
	margin-left: 0%;
    }
}



@media screen and (max-width: 240px)
{
    #partenaire
    {
	display:none;
   }
	
	h2, .h2 {
	font-size: 15px;
	}
		.content p {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 12px;
	}


	#equipage .clemence {
	width: 77%;

	}

	#equipage .loic {
	width: 77%;
	float: none;
	}


}


@media screen and (max-width: 1485px)
{
    .menu {
		position: fixed;
		width: 220px;
		z-index: 1;
		top: 33%;
	}
	#partenaire {
		margin-top: -17%;
		height: 300px;
		width: 11%;
		margin-left: 1%;
		float: left;
	}

}